
.block {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 100%;
}
#logo {
    text-decoration: none;
	font-family: 'Great Vibes'; 
    font-weight: 600;
    color: #ff7b8f; 
    font-size: 35px;
}
 
.ul1 {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.ul2 {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.li1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    
}
.anav {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.anav:hover {
    color: rgb(87, 87, 87);
}

.block4 {
    padding-top: 100px;
    height: 15vh;
    width: 110%;
    background-color: #f2dede;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.block2 {
    background-image: url(img/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.b1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.u1 {
    list-style: "♥  ";
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.l1 {
    margin-bottom: 10px;
    font-size: 18px;
}
.p1 {
    font-size: 20px;
    font-weight: 500;
}
h2 {
    margin-bottom: 0;
}
.b2 {
    display: flex;
    justify-content: space-between;
}
.b3 {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    margin-left: 50px;
}
.b4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 60px;
}